
body {
   background-image:url(../img/carousel-1.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   
}
.container {
    background-image:url(../img/carousel-1.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    opacity: 0,5;
}
h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #f8f9fa;
    
}
.table {
    border-radius: 10px;
    overflow: hidden;
    opacity: 0,5;
}
.btn-sm {
    font-size: 0.875rem;
}
.btn-primary, .btn-warning, .btn-danger {
    font-weight: bold;
}
.mo{
    color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    opacity: 0,5;
    width: 1000px;
    left: 27%;
    position: relative;
}
